.slide-container {
    height: 680px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14%;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid red;
  }
  
  .image-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    background-position: left;
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
    border-radius: 20px;
    filter: blur(0px);
    background-color: #24282e;
  }
  .image-slide-white{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    background-position: left;
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
    border-radius: 20px;
    filter: blur(0px);
    background-color: #dcdcd1;
    ;

  }
  .arrow-left {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    padding: 10px;
    background: #000000d3;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    color: #eb1414;
    cursor: pointer;
  }
  
  .arrow-right {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    padding: 10px;
    background: #000000d3;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    color: #eb1414;
    cursor: pointer;
  }
  .image-title{
    position: absolute;
    top: 10%;
    left: 44%;;
    transform: translateY(-50%);
    color: #eb1414;
    padding: 10px;
    z-index: 999999;
    font-size: 38px;
    font-weight: 900;
  }
  .image-desc{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #eb1414;
    width: 50%;
    left: 44%;
    padding: 10px;
    z-index: 999999;
    font-size: 20px;
    letter-spacing: 2px;
  }
  
  .slide-container:hover .arrow-left {
    display: flex;
  }
  
  .slide-container:hover .arrow-right {
    display: flex;
  }
  .image-more-info{
    position: absolute;
    top: 20%;
    color: #eb1414;
    left: 44%;
    padding: 10px;
    z-index: 999999;
    width: 54%;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 600;
  }
  .image-btn{
    position: absolute;
    left: 44%;
    top: 77%;
    width: 50%;
    height: 70px;
    background-color: #eb1414;
    color: #aea9a9;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
  