.card{
    height: 70vh;
    border-radius: 20px;
    background: #c90202;
    overflow: hidden;
    position: relative;
    border: 2px solid #eb14142e;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.card-body{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #1f3d4738;
    color: #eb1414;
    right: -100%;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
}
.card:hover .card-body{
    right: 0;
}
.card-title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
}
.card-subtitle{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}
.card-btn{
    color: #FFF;
    background: #eb1414;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 30px;
    text-transform: capitalize;
    margin-top: 5px;
}