.card-person{
    height: 70vh;
    border-radius: 20px;
    background: #c90202;
    overflow: hidden;
    position: relative;
    border: 2px solid #eb14142e;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.card-body-person{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #1f3d4738;
    color: #eb1414;
    right: -100%;
    backdrop-filter: blur(0px);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transition: 1.5s;
}
.card-person:hover .card-body-person{
    right: 0;
}
.card-title-person{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}
.card-subtitle-person{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 300;
}